@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}



body{
    background-color: #12000C;
}

.main-logo{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
}
.main-logo img{
    width: 50px;
}
.name-logo{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 22px;
    margin-left: 15px;
}


.menu-profile-container{
    display: flex;
    flex-direction: column;
    background-image: url(../img/image_2023-10-29_19-19-23.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 40px;
    color: white;
    font-family: 'Gilroy';
    border-radius: 0 0 24px 24px;
}
.user-info{
    margin-top: auto;
}
.username{
    font-size: 24px;
    font-weight: 700;
}
.user-city{
    font-weight: 600;
}
.menu-list{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    height: 100%;
    max-width: 400px;
    padding-bottom: 40px;
}
.menu-item{
    background-color: #363636;
    cursor: pointer;
    color: white;
    font-family: 'Gilroy';
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.menu-item span{
    margin-left: 10px;
}

.menu-chapter{
    display: flex;
    color: #858585;
    font-family: 'Gilroy';
    font-weight: 600;
    margin-top: 20px;
}