@font-face {
  font-family: "Gilroy";
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Gilroy";
  height: 100%;
}

#root {
  height: 100%;
}

.main {
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 85px;
}

.main-register {
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 85px;
  height: 100%;
}

html {
  height: 100%;
}

.header {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: auto;
  max-width: 370px;
  position: absolute;
  display: flex;
  align-items: center;
}
.header img {
  width: 52px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.form-registration {
  margin-left: auto;
  margin-right: auto;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form-registration h1 {
  font-weight: 500;
  font-size: 32px;
  margin-top: 150px;
}

.name-registration-container {
  display: flex;
  flex-direction: column;
}
.name-registration-container label {
  margin-top: 10px;
  color: #BBBBBB;
  font-weight: 500;
}

.input-registration {
  border: 2px solid #BBBBBB;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  padding: 10px;
  margin-top: 15px;
  padding-left: 0;
}

.btn-registration {
  display: flex;
  max-width: 311px;
  height: 57px;
  padding: 12px 77px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: linear-gradient(92deg, #AC10F5 0%, #FF1A5E 100%);
  color: white;
  font-weight: 600;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.back-btn {
  margin-top: 90px;
  margin-left: 10px;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
}

.form_radio_btn input[type=radio] {
  display: none;
}

.form_radio_btn label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  line-height: 34px;
  border: 3px solid #BBBBBB;
  border-radius: 1000px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Checked */
.male-sex:checked + label {
  border-color: #005F95;
  color: #005F95;
}

.female-sex:checked + label {
  border-color: #DF3990;
  color: #DF3990;
}

/* Hover */
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}

.file-registration-container {
  margin-top: 15px;
  background-color: #EBEBEB;
  height: 320px;
  border-radius: 24px;
}
.file-registration-container input {
  display: none;
}
.file-registration-container label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interests-item {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  background: #FEFEFE;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interests-item img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.interests-input-registration {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 21px;
}

.interests-registration-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 15px;
}

.type-relationship {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 21px;
}

.section-text {
  font-weight: 600;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
}

.profile-settings {
  background-image: url(../img/filter.svg);
  width: 38px;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12312px;
  position: absolute;
  height: 38px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  top: 30px;
}

.profile-back-btn {
  background-image: url(../img/profile-back-btn.svg);
  width: 38px;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12312px;
  position: absolute;
  height: 38px;
  background-position: center center;
  background-repeat: no-repeat;
  top: 30px;
  background-size: 12px;
}

.profile-img-edit-btn {
  background-image: url(../img/dots.svg);
  width: 38px;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12312px;
  position: absolute;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  top: 30px;
  right: 0;
  background-size: 25px;
}

.profile-img {
  margin-top: 15px;
  height: 510px;
  background-color: rgb(116, 116, 116);
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.profile-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-img-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 30px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.profile-img-age {
  font-weight: 400;
  font-size: 25px;
}

.profile-img-city {
  font-size: 25px;
}

.profile-header-text {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  text-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 15px;
}

.profile-title {
  display: block;
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-wrap: wrap;
}

.interests-profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.profile-type-relationship {
  color: black;
  font-family: Gilroy;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  background-color: #EBEBEB;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
}
.footer img {
  width: 40px;
}

.access-btn {
  border-radius: 1000px;
  background: linear-gradient(263deg, #DB1CB1 -35.86%, #C1123C 168.88%);
  font-weight: 500;
  padding: 11px 103px;
  color: white;
  width: 100%;
  font-size: 21px;
  margin-top: 15px;
}

.profile-edit-input {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  height: 40px;
}

.profile-edit-textarea {
  resize: none;
  overflow: visible;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  height: 90px;
}

.profile-edit-interests {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #F5196E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.profile-switch {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #595959;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-switch h1 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}
.profile-switch h2 {
  font-weight: 400;
  font-size: 18px;
  color: #595959;
}

.form-img {
  margin-top: 90px;
  height: 510px;
  background-color: rgb(116, 116, 116);
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.form-img .user {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-btn-container {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  justify-content: space-around;
}

.return-btn {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: #282828;
  border-radius: 131312px;
  background-image: url(../img/return-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.yes-btn {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 131312px;
  background-image: url(../img/yes-btn.svg), linear-gradient(232deg, #FF51EE -58.93%, #C9274E 101.54%);
  background-repeat: no-repeat;
  background-position: center;
}

.no-btn {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: #005F95;
  border-radius: 131312px;
  background-image: url(../img/no-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.premium-yes-btn {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 131312px;
  background-image: url(../img/supreme-btn.svg), linear-gradient(0deg, rgba(223, 132, 25, 0.2) 0%, rgba(223, 132, 25, 0.2) 100%), radial-gradient(163.61% 163.61% at 74.3% 79.93%, #FF8A00 0%, #D41B74 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.form-img-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.form-img-age {
  font-weight: 400;
  font-size: 18px;
}

.form-img-city {
  font-size: 25px;
}

.form-info {
  display: flex;
  position: absolute;
  z-index: 123;
  color: white;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding: 15px;
}
.form-info img {
  width: 18px;
  height: 18px;
}
.form-info .form-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-interests-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1231;
  width: 100%;
  top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 5px;
}
.form-interests-container .interests-item {
  font-size: 14px;
  background: rgba(60, 60, 60, 0.5);
  color: white;
}

.form-descr {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
}

.filter-sex-container {
  display: flex;
  width: 100%;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  border-radius: 1000px;
  margin-top: 15px;
}
.filter-sex-container .form_radio_btn label {
  border: none;
  width: 185px;
  font-size: 24px;
}
.filter-sex-container .female-sex:checked + label {
  border: 2px solid #DF3990;
}
.filter-sex-container .male-sex:checked + label {
  border: 2px solid #005F95;
}

.filter-section-text {
  font-family: Gilroy;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
}

.filter-type-relationship-container {
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  width: 100%;
  height: 300px;
  gap: 10px;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}
.filter-type-relationship-container .form_radio_btn label {
  border: none;
  border-radius: 22px;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  height: 100px;
  width: 95%;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.filter-type-relationship-container .form_radio_btn label span {
  color: #595959;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-type-relationship-container .type-relationship-radio:checked + label {
  border: 2px solid #DF3990;
}

.restart-btn {
  border-radius: 1000px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  text-wrap: nowrap;
  width: 100%;
  font-weight: 500;
  padding: 11px;
  color: black;
  width: 100%;
  font-size: 21px;
  margin-top: 15px;
}

.like-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 90px;
}

.user-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  overflow: hidden;
  height: 200px;
  font-size: 18px;
  color: white;
  border-radius: 15px;
}
.user-container img {
  position: absolute;
}
.user-container .user-info {
  z-index: 123;
  margin-top: auto;
  padding: 15px;
}
.user-container .user-info .age {
  font-size: 16px;
}

.menu {
  margin-top: 30px;
  margin-right: auto;
  max-width: 370px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu img {
  width: 52px;
}

.menu-btn {
  padding: 5px 24px;
  border-radius: 20px;
  background: #FEFEFE;
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
}

.active {
  border-radius: 20px;
  background: linear-gradient(265deg, #F6222F -37.45%, #D028D3 122.08%);
  box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.25);
  color: white;
}/*# sourceMappingURL=common.css.map */